@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');


:root {
    --lightColor: #ffd3ac;
    --mainColor: #89425d;
    --darkColor: #603453;
    --actionColor:#c55b73;
}
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    text-transform: uppercase;
    background: var(--darkColor);
    color: var(--lightColor);
}
.mainPage {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    padding: 2em 1em;
}
.panelPage {
    margin: 2em;
    text-align: center;
}
.button {
    width: 80%;
    margin-bottom: 0.8em;
    padding: 0.8em 1.6em;
    font-size: 2.3rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    border: 2px solid var(--lightColor);
    color: var(--lightColor);
    text-decoration: none;
    background-color: var(--mainColor);
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    transition: color, border, background-color 0.3s;
}
.button:hover {
    color: var(--actionColor);
    border: 2px solid var(--actionColor);
    background-color: var(--darkColor)
}
.buttons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
}
.welcomeButton{
    width: 80%;
    margin-bottom: 2em;
    text-align: center;
}
.startButton{
    margin-top: 1em;
}
.buttonBuy {
    background-color: var(--darkColor);
}
.buttonInColumnOrder {
    margin-bottom: 1.5em;
}
input {
    width: 80%;
    margin: 0 1em 0.4em 1em;
    padding: 1em;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--mainColor);
    border: 1px solid var(--lightColor);
    text-align: center;
}
.mainTitle{
    width: 100%;
    font-size: 1.8em;
    font-weight: 600;
    text-align: center;
}
.legend {
    font-weight: 600;
    margin: 0.7em;
    text-align: center;
}
.page {
    padding-top: 0.5em;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1em;
}
.inputTitle{
    margin: 0.3em 0;
    display: inline;
    font-size: 2rem;
}
.signInComplete {
    padding:2em;
}
.signInCompleteText {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}
.completeLabel{
    padding-bottom: 0.5em;
    text-align: center;
}
.errorMessage {
    font-size: 1.5rem;
    display: inline-block;
    color: var(--actionColor);
}
.header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 1em;
}
.headerTitle {
    margin-bottom: 0.5em;
    text-align: center;
}
.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 42vh;
    margin: 1em 1em;
    background-color: var(--mainColor);
    border: 5px solid var(--lightColor);
    font-weight: 900;
}
.productName {
    padding: 0 1em 0;
}
.productBox {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.orderListTitle {
    padding: 1em;
    text-align: center;
}
.adminBoxTitle{
    display: flex;
    justify-content: center;
    padding: 0 1em 1em 1em;
}
.adminTitle{
    text-align: center;
}
.adminButtons{
    flex-direction: column;
    align-items: center;
}
.adminButton{
    width: 50vw;
    margin-bottom: 1.5em;
    text-align: center;
}
.adminList{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.itemFromList{
    width: 80vw;
    padding: 0.5em 0;
    font-size: 2.5rem;
    border-top: 1px solid var(--mainColor);
    text-transform: initial;
    text-align: center;
}
.itemFromList:last-of-type{
    border-bottom: 1px solid var(--mainColor);
}

@media (min-width: 576px) {
    .button{
        width: 60%;
    }
    input {
        width: 60%;
    }
    .buttonInColumnOrder {
        width: 80%;
    }
}

@media (min-width: 768px) {
    .button{
        width: 40%;
    }
    input {
        width: 40%;
    }
    .buttonInColumnOrder {
        width: 80%;
    }
    .header {
        flex-direction: row;
    }
    .headerTitle {
        margin-bottom: 0em;
    }
    .productBox {
        flex-direction: row;
        justify-content: center;
    }
    .product{
        width: 40%;
    }
    .adminButton {
        width: 50%;
    }
}

@media (min-width: 992px) {
    .button{
        width: 25%;
    }
    .welcomeButton{
        width: 35%;
    }
    input {
        width: 30%;
    }
    .buttonInColumnOrder {
        width: 80%;
    }
    .adminButton {
        width: 50%;
    }
}

